{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"endOfLine": "lf",
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"semi": true,
	"singleQuote": false,
	"trailingComma": "all",
	"useTabs": true,
	"tabWidth": 4,
}
